---
export interface Props{
    href:string,
    text:string,
}
const {href, text} = Astro.props
---
<li>
    <a href={href} class="font-medium hover:text-primary py-3 transition-colors" style="transition-duration: var(--motion-base)">
    {text}
    </a>
</li>